.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  
  //testing
  min-height: 50rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-light-grey-2);
}

.content {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-grey-dark-1);

  // Don't want it to grow, no shrink, basis 18% of parent width
  flex: 0 0 18%;
}

.hotel-view {
  background-color: #fff;
  
  //test
  background-color: orangered;
  height: 80rem;
  
  // Take up remaining space
  flex: 1
}